<div id="posts-container">
    {{range .Posts}}
        <article id="post-{{.ID}}">
            {{if eq .Title ""}}
                <h3>Sem Título</h3>
            {{else}}
                <h3>{{.Title}}</h3>
            {{end}}
            
            {{if eq .Content ""}}
                <div class="post-preview-container">
                    <p class="post-content">Sem Conteúdo</p>
                </div>
            {{else}}
                <div class="post-preview-container">
                    <p class="post-content">{{.Content}}</p>
                </div>
            {{end}}
            
            <div class="button-container">
                <a href="/posts/{{.ID}}" class="button">
                    Ler mais
                </a>
            </div>
        </article>
    {{end}}

    {{if .NextPage}}
    <div id="load-more-trigger" 
            hx-get="/posts/?page={{.NextPage}}" 
            hx-trigger="revealed" 
            hx-swap="outerHTML">
        Carregando mais posts...
    </div>
    {{end}}
</div>
