
.back-to-home-btn {
      font-size: 3rem;
      position: fixed; 
      top: 1rem;
      left: 2rem;  
    
      display: flex;
      justify-content: center;
      align-items: center;
}
