<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Em Construção</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/htmx.min.js" defer></script>
    </head>
    <body>
        {{ template "navbar.html" . }}

        <main class="container" style="text-align: center; padding-top: 4rem">
            <div style="font-size: 4rem; margin-bottom: 1rem">&#x1F6A7;</div>
            <h1>Em Construção</h1>
            <p>Não tem nada aqui XDD!</p>
        </main>
    </body>
</html>
