<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login de Admin</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/htmx.min.js" defer></script>
    </head>
    <body class="login-page-body">
        <div class="card">
            <h2>admin login</h2>
            {{ template "login_form.html" . }}
        </div>
    </body>
</html>
