<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Meus Posts</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/htmx.min.js" defer></script>
    </head>
    <body>
        {{ template "navbar.html" . }}

        <main class="container">
            <h1>Glop</h1>
            <hr />
            <h2>Posts Recentes</h2>

            <div id="posts-container">{{ template "post_list.html" . }}</div>
        </main>
    </body>
</html>
