<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {{if .Title}}
            {{.Title}}
        {{else}}
            Meu Post
        {{end}}
    </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <a href="/posts" class="back-link" title="Voltar para Posts">&#x2190; Voltar</a>
    <hr>
    <article>
        {{if .Title}}
            <h3>{{.Title}}</h3>
        {{else}}
            <h3>Sem Título</h3>
        {{end}}
        
        {{if .Content}}
            <p class="post-content">{{.Content}}</p>
        {{else}}
            <p class="post-content">Sem Conteúdo</p>
        {{end}}
    </article>

</body>
</html>

